<div id="<%= dom_id delivery_address %>">
  <p>
    <strong>User:</strong>
    <%= delivery_address.user_id %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= delivery_address.phone %>
  </p>

  <p>
    <strong>Default:</strong>
    <%= delivery_address.default %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= delivery_address.building %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= delivery_address.floor %>
  </p>

  <p>
    <strong>Complete address:</strong>
    <%= delivery_address.complete_address %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= delivery_address.tag %>
  </p>

</div>
