<div id="<%= dom_id administrator_log %>">
  <p>
    <strong>Administrator:</strong>
    <%= administrator_log.administrator_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= administrator_log.action %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= administrator_log.detail %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= administrator_log.status %>
  </p>

  <p>
    <strong>Add time:</strong>
    <%= administrator_log.add_time %>
  </p>

</div>
