<div id="<%= dom_id shop_log %>">
  <p>
    <strong>Shop:</strong>
    <%= shop_log.shop_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= shop_log.action %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= shop_log.detail %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= shop_log.status %>
  </p>

  <p>
    <strong>Add time:</strong>
    <%= shop_log.add_time %>
  </p>

</div>
