<div id="<%= dom_id transaction_order %>">
  <p>
    <strong>Added time:</strong>
    <%= transaction_order.added_time %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction_order.user_id %>
  </p>

  <p>
    <strong>Shop:</strong>
    <%= transaction_order.shop_id %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= transaction_order.delivery_address %>
  </p>

  <p>
    <strong>Delivery phone:</strong>
    <%= transaction_order.delivery_phone %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= transaction_order.order_status %>
  </p>

  <p>
    <strong>Delivery money:</strong>
    <%= transaction_order.delivery_money %>
  </p>

  <p>
    <strong>Packing money:</strong>
    <%= transaction_order.packing_money %>
  </p>

  <p>
    <strong>Discount money:</strong>
    <%= transaction_order.discount_money %>
  </p>

  <p>
    <strong>Pay money:</strong>
    <%= transaction_order.pay_money %>
  </p>

  <p>
    <strong>IsHelp:</strong>
    <%= transaction_order.is_help %>
  </p>

</div>
