<div id="<%= dom_id delivery_order %>">
  <p>
    <strong>Transaction order:</strong>
    <%= delivery_order.transaction_order_id %>
  </p>

  <p>
    <strong>Deliver:</strong>
    <%= delivery_order.deliver %>
  </p>

  <p>
    <strong>Added time:</strong>
    <%= delivery_order.added_time %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= delivery_order.arrival_time %>
  </p>

</div>
