<p style="color: green"><%= notice %></p>

<%= render @delivery_order %>

<div>
  <%= link_to "Edit this delivery order", edit_delivery_order_path(@delivery_order) %> |
  <%= link_to "Back to delivery orders", delivery_orders_path %>

  <%= button_to "Destroy this delivery order", @delivery_order, method: :delete %>
</div>
