<div id="<%= dom_id deliver_log %>">
  <p>
    <strong>Deliver:</strong>
    <%= deliver_log.deliver_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= deliver_log.action %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= deliver_log.detail %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= deliver_log.status %>
  </p>

  <p>
    <strong>Add time:</strong>
    <%= deliver_log.add_time %>
  </p>

</div>
