<div id="<%= dom_id order_platform %>">
  <p>
    <strong>Transaction order:</strong>
    <%= order_platform.transaction_order_id %>
  </p>

  <p>
    <strong>Add time:</strong>
    <%= order_platform.add_time %>
  </p>

  <p>
    <strong>Image directory:</strong>
    <%= order_platform.image_directory %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= order_platform.detail %>
  </p>

</div>
