<p style="color: green"><%= notice %></p>

<%= render @order_platform %>

<div>
  <%= link_to "Edit this order platform", edit_order_platform_path(@order_platform) %> |
  <%= link_to "Back to order platforms", order_platforms_path %>

  <%= button_to "Destroy this order platform", @order_platform, method: :delete %>
</div>
