<div id="<%= dom_id shop %>">
  <p>
    <strong>Username:</strong>
    <%= shop.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= shop.password %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= shop.phone %>
  </p>

  <p>
    <strong>Open time:</strong>
    <%= shop.open_time %>
  </p>

  <p>
    <strong>Close time:</strong>
    <%= shop.close_time %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shop.address %>
  </p>

  <p>
    <strong>Canteen:</strong>
    <%= shop.canteen_id %>
  </p>

  <p>
    <strong>Image_Directory:</strong>
    <%= shop.image_directory %>
  </p>

</div>
