<div id="<%= dom_id help_delivery_order_platform %>">
  <p>
    <strong>Help delivery order:</strong>
    <%= help_delivery_order_platform.help_delivery_order_id %>
  </p>

  <p>
    <strong>Add time:</strong>
    <%= help_delivery_order_platform.add_time %>
  </p>

  <p>
    <strong>Image directory:</strong>
    <%= help_delivery_order_platform.image_directory %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= help_delivery_order_platform.detail %>
  </p>

</div>
