<p style="color: green"><%= notice %></p>

<%= render @help_delivery_order_platform %>

<div>
  <%= link_to "Edit this help delivery order platform", edit_help_delivery_order_platform_path(@help_delivery_order_platform) %> |
  <%= link_to "Back to help delivery order platforms", help_delivery_order_platforms_path %>

  <%= button_to "Destroy this help delivery order platform", @help_delivery_order_platform, method: :delete %>
</div>
