<div id="<%= dom_id user_log %>">
  <p>
    <strong>User:</strong>
    <%= user_log.user_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= user_log.action %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= user_log.detail %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user_log.status %>
  </p>

  <p>
    <strong>Add time:</strong>
    <%= user_log.add_time %>
  </p>

</div>
